.Layout{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#30004F, #670078 );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
